<div class="">
    <div id="title" class="logo">
        <h1>Spending</h1>
    </div>
    <div class="divLogin">
        Welcome <strong>@User.Identity.Name</strong>! &nbsp&nbsp [ @Html.ActionLink("Log Off", "LogOff", "Home") ]
    </div>
</div>

@*<text>Welcome <strong>@User.Identity.Name</strong>!
    [ @Html.ActionLink("Log Off", "LogOff", "Account") ]</text>*@
